@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg_linearGradient: to top, #306ed4, #297dd6, #348bd5, #4998d2, #61a4cf,
		#78aad0, #8cb0d1, #9db6d1, #acb8d2, #bdbdd3, #c8c2d3, #d2c9d4;

	--bg_lightsGradient: to top, #d1c8d3, #c5c0d3, #b3bbd3, #9db6d1, #83b2cb;
	--bg_button: rgb(172, 184, 210);
}
@layer {
}
.btn-primary {
	@apply bg-slate-200 border border-gray-400 rounded-lg py-1 px-5 text-blue-800;
}
.btn-red {
	@apply bg-red-500 border border-red-500 rounded-lg  px-5 text-gray-200;
}

label {
	@apply px-1;
}

input,
textarea,
select {
	@apply bg-white border text-blue-600 border-gray-300 p-1 rounded-md w-full mb-2;
}

input:focus,
textarea:focus {
	@apply bg-white border outline-none border-blue-400 p-1 rounded-md w-full;
}
input::placeholder,
textarea::placeholder {
	@apply text-blue-600 text-xs p-1 opacity-30;
}
.header {
	@apply text-center text-blue-800 text-xl mb-2;
}
table.basic {
	@apply w-auto m-auto bg-white rounded-sm shadow-md;
}
table.basic thead tr td,
table.basic thead tr th {
	@apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td {
	@apply px-6 py-2;
}
table.basic a {
	@apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
